{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Page d'accueil</h1>

    <h5>Je suis particulier</h5>
        <a href="{{ path('beekeeper_list') }}">Je souhaite adopter une ruche</a>
    <h5>Je suis apiculteur</h5>
        <a href="{{ path('individual_list') }}">Je souhaite faire adopter une ruche</a>
{% endblock %}