{% extends 'base.html.twig' %}

{% block title %}Individual{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Choisir un particulier </h1>

    <ul>
        {% for individual in individuals %}
            <li>{{ individual.firstname }} {{ individual.lastname }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
