{% extends 'base.html.twig' %}

{% block title %}Beekeeper{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Choisir un apiculteur </h1>

    <ul>
        {% for beekeeper in beekeepers %}
            <li>{{ beekeeper.firstname }} {{ beekeeper.lastname }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
